<div>
    <div class="row">
        <div class="span5">
            <h1><small>Invoice #001</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="span5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>From: <a href="#">Your Name</a></h4>
                </div>
                <div class="panel-body">
                    <p>
                        Address <br>
                        details <br>
                        more <br>
                    </p>
                </div>
            </div>
        </div>
        <div class="span5 text-right">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>To : <a href="#">Client Name</a></h4>
                </div>
                <div class="panel-body">
                    <p>
                        Address <br>
                        details <br>
                        more <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- / end client details section -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    <h4>Service</h4>
                </th>
                <th>
                    <h4>Quantity</h4>
                </th>
                <th>
                    <h4>Price</h4>
                </th>
                <th>
                    <h4>Totals</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Article</td>
                <td class="text-right">-</td>
                <td class="text-right">$200.00</td>
                <td class="text-right">$200.00</td>
            </tr>
            <tr>
                <td>Template Design</td>
                <td class="text-right">10</td>
                <td class="text-right">75.00</td>
                <td class="text-right">$750.00</td>
            </tr>
            <tr>
                <td>Development</td>
                <td class="text-right">5</td>
                <td class="text-right">50.00</td>
                <td class="text-right">$250.00</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" style="text-align: right">Sub Total</td>
                <td colspan="3">$1,200.00</td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: right">Tax</td>
                <td colspan="3">$1,200.00</td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: right">Postage / Shipping</td>
                <td colspan="3">$1,200.00</td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: right">Grand Total</td>
                <td colspan="3">$1,200.00</td>
            </tr>
        </tfoot>
    </table>
    <div class="row">
        <div class="span11">
            <div class="alert alert-info">
                Payment completed using PayPal
            </div>
        </div>

    </div>
</div>