@model dynamic


@{
    ViewBag.Title = "Search Results";
    Layout = "~/Views/Shared/_Magento.cshtml";
}

@*Search Type Links*@
<div class="row-fluid">
    <div class="span12">
        <div class="search-type-results">
            <div class="item"><a data-search-products>Products</a></div>
            <div class="item"><a data-search-provider>Wreckers</a></div>
            <div class="item"><a data-search-provider>Repairers</a></div>
            <div class="item"><a data-search-provider>Auxiliaries</a></div>
        </div>
    </div>
</div>


<div class="ma-main-container col3-layout">
    <div class="main">
        <div class="row-fluid">

            @*Filters*@
            <div class="col-left sidebar span3">
                Filters coming soon
            </div>

            @*Search Results*@
            <div class="col-wrapper span9">
               Results coming soon
            </div>

        </div>
    </div>
</div>
