@model dynamic

@{
    ViewBag.Title = "Payment cancelled";
    Layout = "~/Views/Shared/_Magento.cshtml";
}

<div class="ma-main-container col1-layout">
    <div class="main">
        <div class="col-main">
            <div class="page-title">
                <h2>Payment Cancelled</h2>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="alert">
                        The payment was cancelled successfully.
                        <a href="@Url.MyCart()">Your shopping cart should still available</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>