@model dynamic

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Magento.cshtml";
}

<div class="ma-main-container col1-layout">
    <div class="main">
        <div class="col-main">
            <div class="page-title">
                <h2>Checkout</h2>
            </div>
            <form action="@Url.Action("Checkout", "Cart")" method="POST">
                @Html.AntiForgeryToken()
                <div class="row-fluid">
                    <div class="span4">
                        <div class="bordered-form">
                            <h3><i class="fa fa-home"></i> &nbsp;Delivery Address</h3>

                            <div class="control-group">
                                @Html.LabelFor()
                            </div>

                        </div>
                    </div>
                    <div class="span4">
                        <div class="bordered-form">
                            <h3><i class="fa fa-shopping-cart"></i> &nbsp;Shopping Cart Items</h3>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="bordered-form">
                            <h3><i class="fa fa-paypal"></i> &nbsp;Payment</h3>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
