@model dynamic

@{
    ViewBag.Title = "My Cart";
    Layout = "~/Views/Shared/_Magento.cshtml";
}

<div class="ma-main-container col1-layout">
    <div class="main">
        <div class="col-main">
            <div class="page-title">
                <h1>Shopping Cart</h1>
            </div>

            <div class="cart">
                
              

                <div data-bind="if: items().length === 0">
                    <div class="alert">
                        Your shopping cart is empty. @Html.ActionLink("Continue Shopping", "Index", "Home")
                    </div>
                </div>

                <div data-bind="if: items().length > 0">

                    <fieldset>
                        @Html.Partial("~/Views/Shared/Partial/_CartEditor.cshtml")
                    </fieldset>


                    <div class="cart-collaterals row-fluid">
                        <div class="col-1 span4">
                            @*Placeholder for shipping estimate*@
                        </div>
                        <div class="col-1 span4">
                            <form id="discount-coupon-form" action="http://www.plazathemes.com/demo/ma_carstore_res/checkout/cart/couponPost/" method="post">
                                <div class="discount">
                                    <h2>Discount Codes</h2>
                                    <div class="discount-form">
                                        <label for="coupon_code">Enter your coupon code if you have one.</label>
                                        <input type="hidden" name="remove" id="remove-coupone" value="0">
                                        <div class="input-box">
                                            <input class="input-text" id="coupon_code" name="coupon_code" value="">
                                        </div>
                                        <br/>
                                        <button title="Apply Coupon" class="btn" value="Apply Coupon"><span><span>Apply Coupon</span></span></button>

                                    </div>
                                </div>
                            </form>


                        </div>
                        <div class="totals span4">
                            <table id="shopping-cart-totals-table">
                                <colgroup>
                                    <col>
                                    <col width="1">
                                </colgroup>

                                <tbody>
                                    <tr>
                                        <td style="" class="a-right" colspan="1">
                                            Subtotal
                                        </td>
                                        <td style="" class="a-right">
                                            <span class="price" data-bind="text: accounting.formatMoney(subTotal())"></span>
                                        </td>
                                    </tr>
                                </tbody>

                                <tfoot>
                                    <tr>
                                        <td style="" class="a-right" colspan="1">
                                            <strong>Grand Total</strong>
                                        </td>
                                        <td style="" class="a-right">
                                            <strong><span class="price" data-bind="text: accounting.formatMoney(subTotal())"></span></strong>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                            <ul class="checkout-types">
                                <li>
                                    <a class="btn btn-large">Proceed to Checkout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>