@model dynamic

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Magento.cshtml";
}

<div class="ma-main-container col1-layout">
    <div class="main">
        <div class="col-main">
            <div class="cart">
                <div class="page-title title-buttons">
                    <h1>Shopping Cart</h1>
                </div>
                
                <div data-bind="if: items().length === 0">
                    <div class="alert">
                        Your shopping cart is empty. @Html.ActionLink("Continue Shopping", "Index", "Home")
                    </div>
                </div>

                <div data-bind="if: items().length > 0">

                    <fieldset>
                        <table class="data-table cart-table">
                            <colgroup>
                                <col width="1">
                                <col>
                                <col width="1">
                                <col width="1">
                                <col width="1">
                                <col width="1">
                                <col width="1">
                            </colgroup>

                            <thead>
                                <tr class="first last">
                                    <th rowspan="1" class="hidden-phone">&nbsp;</th>
                                    <th rowspan="1"><span class="nobr">Product Name</span></th>
                                    <th class="a-center" colspan="1"><span class="nobr">Unit Price</span></th>
                                    <th rowspan="1" class="a-center">Qty</th>
                                    <th class="a-center" colspan="1">Subtotal</th>
                                    <th rowspan="1" class="a-center">&nbsp;</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr class="first last">
                                    <td colspan="50" class="a-right last">
                                        <button title="Continue Shopping" class="button btn-continue"><span><span>Continue Shopping</span></span></button>
                                        <button type="submit" name="update_cart_action" value="update_qty" title="Update Shopping Cart" class="button btn-update"><span><span>Update Shopping Cart</span></span></button>
                                        <button type="submit" name="update_cart_action" value="empty_cart" title="Clear Shopping Cart" class="button btn-empty" id="empty_cart_button"><span><span>Clear Shopping Cart</span></span></button>
                                    </td>
                                </tr>
                            </tfoot>
                            <tbody data-bind="foreach: items()">

                                <tr>
                                    <td class="hidden-phone">
                                        <a data-bind="attr : { href: neemo.endpoints.product.get(Id)}"
                                           title="Maecenas sodales" class="product-image">
                                            <img data-bind="attr : { src: neemo.endpoints.img.get(ImageId), alt : Title }"
                                                 width="75"
                                                 height="75">
                                        </a>
                                    </td>
                                    <td>
                                        <h2 class="product-name">
                                            <a data-bind="attr : { href: neemo.endpoints.product.get(Id)}, text: Title"></a>
                                        </h2>
                                    </td>
                                    <td class="a-right">
                                        <span class="cart-price">
                                            <span class="price" data-bind="text: accounting.formatMoney(Price)"></span>
                                        </span>
                                    </td>
                                    <td class="a-center">
                                        <input data-numbers-only size="4" title="Qty" class="input-text qty" maxlength="12" data-bind="value: Quantity">
                                    </td>
                                    <td class="a-right">
                                        <span class="cart-price">
                                            <span class="price" data-bind="text: accounting.formatMoney(Price * Quantity)"></span>
                                        </span>
                                    </td>
                                    <td class="a-center last">
                                        <a data-bind="click: $parent.removeItem" title="Remove item" class="btn-remove btn-remove2">Remove item</a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </fieldset>


                    <div class="cart-collaterals row-fluid">
                        <div class="col-1 span4">
                            @*Placeholder for shipping estimate*@
                        </div>
                        <div class="col-1 span4">
                            <form id="discount-coupon-form" action="http://www.plazathemes.com/demo/ma_carstore_res/checkout/cart/couponPost/" method="post">
                                <div class="discount">
                                    <h2>Discount Codes</h2>
                                    <div class="discount-form">
                                        <label for="coupon_code">Enter your coupon code if you have one.</label>
                                        <input type="hidden" name="remove" id="remove-coupone" value="0">
                                        <div class="input-box">
                                            <input class="input-text" id="coupon_code" name="coupon_code" value="">
                                        </div>
                                        <div class="buttons-set">
                                            <button type="button" title="Apply Coupon" class="button" onclick="discountForm.submit(false)" value="Apply Coupon"><span><span>Apply Coupon</span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </form>


                        </div>
                        <div class="totals span4">
                            <table id="shopping-cart-totals-table">
                                <colgroup>
                                    <col>
                                    <col width="1">
                                </colgroup>
                                <tfoot>
                                    <tr>
                                        <td style="" class="a-right" colspan="1">
                                            <strong>Grand Total</strong>
                                        </td>
                                        <td style="" class="a-right">
                                            <strong><span class="price">$798.00</span></strong>
                                        </td>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                        <td style="" class="a-right" colspan="1">
                                            Subtotal
                                        </td>
                                        <td style="" class="a-right">
                                            <span class="price">$798.00</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul class="checkout-types">
                                <li>
                                    <button type="button" title="Proceed to Checkout" class="button btn-proceed-checkout btn-checkout" onclick="window.location='http://www.plazathemes.com/demo/ma_carstore_res/checkout/onepage/';"><span><span>Proceed to Checkout</span></span></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>