<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="paypal" type="PayPal.Manager.SDKConfigHandler, PayPalCoreSDK"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--System App Settings-->
    <add key="CompanyName" value="UNIXMO"/>
    <add key="CompanyAddress" value="1 Melbourne Place, Melbourne, VIC"/>
    <add key="CompanyPhone" value="03 9999 8888"/>
    <add key="ImageDatabaseFolder" value="../Images_DBDriven/ThumbnailPhotos"/>
    <add key="NotificationSenderEmail" value="info@unixmo.co.nz"/>
    <add key="NotificationSupportEmail" value="support@unixmo.com.nz"/>
    <add key="NotificationInvoiceEmail" value="info@unixmo.co.nz"/>
    <add key="Gst" value="0.1"/>
    <add key="Currency" value="AUD"/>
    <add key="FacebookAppId" value="852308558150348"/>
    <add key="FacebookAppSecret" value="4e0bcfc140a4ba7594e2d20140f2fb1b"/>
    <add key="GoogleClientId" value="220977309271-kall03rejlfqram7j89sn58gsoplcrg1.apps.googleusercontent.com"/>
    <add key="GoogleClientSecret" value="LgSEewgEDtVcH0tu1154h5b7"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="NeemoConnection" connectionString="Data Source=localhost;Initial Catalog=NNS_NEEMO;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="MembershipConnection" connectionString="Data Source=localhost;Initial Catalog=NNS_NEEMO;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="NeemoConnection" connectionString="Data Source=184.173.107.26;Initial Catalog=NNS_UNIXMO;Persist Security Info=True;User ID=NNS_SQLADMIN;Password=planner!@#123" providerName="System.Data.SqlClient"/>
    <add name="MembershipConnection" connectionString="Data Source=184.173.107.26;Initial Catalog=NNS_UNIXMO;Persist Security Info=True;User ID=NNS_SQLADMIN;Password=planner!@#123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <paypal>
    <settings>
      <add name="mode" value="sandbox"/>
      <add name="connectionTimeout" value="360000"/>
      <add name="requestRetries" value="1"/>
      <add name="clientId" value="AdzNQRANeIFxBsrLTYVDSKNrl8uuqftshLAZemgqqN5i2qHaWi3SYqEIY2DL"/>
      <add name="clientSecret" value="EJidmBCn4yFeCfZbVdx9scjjaquXAs_D4P6K3dHbCT5Qg2d0T2Hy6In3zVYq"/>
      <add name="endpoint" value="https://api.sandbox.paypal.com"/>
    </settings>
  </paypal>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error/ServerFault">
      <error statusCode="404" redirect="~/Error/NotFound"/>
      <error statusCode="500" redirect="~/Error/ServerFault"/>
    </customErrors>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <!--<trust level="Full" />-->
    <!--not sure about this one! Paypal Docs say to have it in but Reflection doesn't work with this flag.-->
    <!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> -->
    <httpModules>
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet"/>
    </httpModules>
    <httpHandlers>
      <add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule"/>
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PayPalCoreSDK" publicKeyToken="5b4afc1ccaef40fb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.0" newVersion="1.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\temp\MailDrop"/>
      </smtp>
    </mailSettings>
  </system.net>
  <log4net>
    <root>
      <level value="INFO"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="100KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
    <!-- 
          For more information on how to configure Glimpse, please visit http://getglimpse.com/Help/Configuration
          or access {your site}/Glimpse.axd for even more details and a Configuration Tool to support you. 
      -->
  </glimpse>
</configuration>