@model PersonalDetailsView

@{
    ViewBag.Title = "Manage your details";
    Layout = "~/Views/Shared/_MagentoAccountLayout.cshtml";
}

<div class="col-main span9">
    <div class="my-account">
        <div class="dashboard">
            <div class="page-title">
                <h1>Personal Details</h1>
            </div>

            <form action="@Url.Action("Details", "Account")" method="POST">
                @Html.AntiForgeryToken()
                <div class="row-fluid">
                    @if (ViewBag.DetailsUpdated != null && (bool) ViewBag.DetailsUpdated)
                    {
                        <div class="alert alert-success">
                            Your details have been updated successfully.
                        </div>
                    }
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="bordered-form">
                            <h3>Update your personal / billing details</h3>
                            @Html.Partial("~/Views/Shared/Partial/_PersonalDetailsEditor.cshtml", @Model)
                        </div>
                        <div class="footer-submit">
                            <button type="submit" class="btn pull-right">Update</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>