@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_Magento.cshtml";
}

<div class="ma-main-container col1-layout">
    <div class="main">
        
        <div class="row-fluid">
            <div class="col-main span12">
                <div class="page-title">
                    <h1>Email Sent</h1>
                </div>

                <div style="padding:15px;">
                    <div class="row-fluid">

                        @*first col*@
                        <div class="span6">
                            <div class="bordered-form">
                                <h3><i class="fa fa-unlock-alt"></i>&nbsp; One more step.</h3>
                                <div class="alert alert-success">
                                    You will receive an email shortly containing a link to reset your password.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
