@model InvoiceDetailView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Invoice Details</title>
    </head>
    <body>
        <div>
              Coming soon
        </div>
    </body>
</html>