@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_Magento.cshtml";
}

<div class="ma-main-container col1-layout">
    <div class="main">

        <div class="row-fluid">
            <div class="col-main span12">
                <div class="page-title">
                    <h1>Reset Successful</h1>
                </div>

                <div style="padding:15px;">
                    <div class="row-fluid">

                        @*first col*@
                        <div class="span6">
                            <div class="bordered-form">
                                <h3><i class="fa fa-unlock-alt"></i>&nbsp; Done!.</h3>
                                <div class="alert alert-success">
                                    You can now to <a href="@Url.Login()"> log in</a> now with your new password.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>