.ma-nav-container {  }
#nav { margin:0 auto; padding:0; font-size:15px;  background:url(images/bg-nav.png) top left repeat-x; }

/* All Levels */ /* Style consistent throughout all nav levels */
#nav li { position:relative; text-align:left; }
#nav li.over { z-index:998; }
#nav a,
#nav a:hover { display:block; line-height:1.3em; text-decoration:none; }
#nav span { display:block; cursor:pointer; white-space:nowrap; }
#nav li ul span {white-space:normal; }
#nav ul li.parent a { background:url(images/bkg_nav2.gif) 100% 100% no-repeat; }
#nav ul li.parent li a { background-image:none; }

/* 0 Level */
#nav li { float:left; background:url(images/bg-li-nav.png) top right no-repeat; padding-right: 2px; }
#nav li.last{ background:none; }
#nav li.active a { color:#FFF;  }
#nav a { float:left; padding:11px 15px 11px 15px; color:#242424; text-transform:uppercase; }
#nav li.over a,
#nav a:hover { color:#FFF;  }

/* 1st Level */
#nav ul li,
#nav ul li.active { background: none; float:none; margin:0; border-bottom:1px solid #fff; padding: 0; }
#nav ul li.last { border-bottom:0; }

#nav ul a,
#nav ul a:hover { float:none; padding:0; background:none; }
#nav ul li a { font-weight:normal !important; }

/* 2nd Level */
#nav ul,
#nav div {  position:absolute; width:15em; top:46px; left:-10000px; }
#nav div ul { position:static; width:auto; border:none; }

/* 3rd+ Level */
#nav ul ul,
#nav ul div { top:0px; }

#nav ul li a { color:#FFF; text-transform:capitalize; }
#nav ul li a:hover { text-decoration:underline; }
#nav ul span,
#nav ul li.last li span { padding:3px 15px 4px 15px; }

/* Show menu */
#nav li ul.shown-sub,
#nav li div.shown-sub { left:0; z-index:999; }
#nav li .shown-sub ul.shown-sub,
#nav li .shown-sub li div.shown-sub { left:225px; }
/********** Navigation > */