@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Magento.cshtml";
}

<div class="ma-main-container col1-layout">
    <div class="main">
        <div class="col-main">
            <div class="page-title">
                <h1> About Us</h1>
               
                <p>
                    Unixmo is a new concept of catering automotive parts and accessory requirement to the public and trades for a very convenient price and method of delivery.  We have understood that how hard to find the right part for a right price.  Particularly, when amateurs want to locate car parts, the guarantee of locating the parts for a right price is very slim.  Therefore, we are at Unixmo strive to give you right part for a very affordable price, most probably the lowest price in New Zealand, at first time.
                    When you browse Unixmo, do not get disappointed if you cannot find your requirement.  You can send your requirement through our enquiry page and we do our best to locate and give it to you for a very low price.
                </p>
                <h1>Guarantee</h1>
                <p>
                    All our parts have been cleaned tested and are guaranteed.  Our range of used parts all come with up to a 6 month warranty. If you do receive a part from us which you find is faulty please return it to us and we will be happy to find you a replacement or a refund.
                    If you buying two or more parts, we will make our best to find the right freight option for you. Most of the parts can be dispatched usually overnight or three working days Nationally within New Zealand.
                    We do accept international orders we have an export / import agent to do all the documentation and hard work for door to door deliveries etc.
                    We have facilitated you buy offering convenient and safest mode of payment which is Paypal. At the moment we do not have eftpos or credit card facility at the counter.
                    We are extremely passionate about what we do and set the standards in our industry due to our product knowledge and service to our new and existing customers.
                    We have shipped parts overseas from small switches to complete canter cabins. No part is too hard to ship overseas.
                    We use a local company that assembles made to measure wooden crates for all our shipment purposes
                </p>

            </div>
        </div>
    </div>
</div>