@model dynamic

@{
    ViewBag.Title = "Privacy - Personal Information";
    Layout = "~/Views/Shared/_Magento.cshtml";
}

<div class="ma-main-container col1-layout">
    <div class="main">
        <div class="col-main">
            <div class="page-title">
                <h2>Privacy - Personal Information</h2>
            </div>
                <p>
                    Through the conduct of its normal business, Unixmo Limited may collect customer information including contact and delivery details, purchase history, and credit card details.
                    This information will remain confidential and will be held securely, and will not be disclosed to any third party without written consent of the owner, except in cases where the information is necessary to carry out the transaction entered into by the customer.</p>

                    <h2>Customer Consent</h2>
<p>
                    Customers who do not wish to have any personal information collected and used for any purpose other than that required to complete the transaction will ne
                </p>ed to express this in writing at the time of purchase.
                </p>
                <h2>Access to Personal Information</h2>
                <p>Personal information relating to the customer is available under the Privacy Act 1993, and the customer may request changes to the information held</p>

        </div>
    </div>
</div>