@model dynamic

@{
    ViewBag.Title = "Returns of Products/Refunds";
    Layout = "~/Views/Shared/_Magento.cshtml";
}

<div class="ma-main-container col1-layout">
    <div class="main">
        <div class="col-main">
            <div class="page-title">
                <h2>Returns of Products/Refunds</h2>
            </div>
                <p>Customers have a right to return any goods which are faulty in nature. The following conditions apply to any return of goods:</p>
                <ul>
                    <li>Where goods are being returned due to a fault, they must not be damaged any further.</li>
                    <li>Proof of purchase must be provided for the any return of goods.</li>
                <li> Where a return is due to a fault, damage or shipping mistake, customers will have seven days from the date of receipt of goods to contact Unixmo Limited and notify us of the fault.</li>
                </ul>
                <p>All purchases (excluding auctions and trade sales) are covered by the Consumer Guarantees Act 2003.</p>

                <h2>Exchanges</h2>
                If the product is faulty or not suitable, you may exchange it for the same product or something more suitable providing:</p>
                <ul>
                    <li>The goods exchanged are to the same value or more as the product that was originally purchased.</li>
                    <li>The goods deemed unsuitable are in original condition and not opened or damaged in any way.</li>
                </ul>
                

                <h2>Delivery Costs for Returns</h2>
                <p>Any delivery costs to do with the exchange of goods are the customer’s responsibility, including return delivery to the customer. If a return is due to a shipping mistake, fault or product damage, then the costs will be incurred by Unixmo Limited. Any costs paid by the customer in this case will be refunded upon receipt of a suitable invoice/receipt showing delivery costs. Any costs incurred by a customer and to be refunded by Unixmo Limited must be reasonably defined as costs that would normally be expected to be paid to return goods using readily available postage cartage services.</p>

        </div>
    </div>
</div>