@model dynamic

@{
    ViewBag.Title = "Terms and Conditions";
    Layout = "~/Views/Shared/_Magento.cshtml";
}

<div class="ma-main-container col1-layout">
    <div class="main">
        <div class="col-main">
            <div class="page-title">
                <h2>Terms and Conditions</h2>

                Content for the The use of this website and these Terms and Conditions shall be governed by the laws of New Zealand.
                Neemo Limited reserves the right to vary these Terms and Conditions at any time.

                <h3>Pricing</h3>
                Prices displayed for goods are valid only for purchases made through this site. Prices may differ to those at our physical location, but the price will remain as advertised for any item bought through the site. Special prices displayed are valid for the dates specified or while stocks last. All prices are displayed in New Zealand dollars and stock sold in New Zealand is inclusive of GST. Neemo Limited reserves the right to alter prices at any time and for any reason. Any variation to an order (once accepted) will result in price adjusting to reflect the variation.
                Product Range, Orders and Availability
                Some parts, as stated, are second hand and\or used, they are priced accordingly to allow for the age and general wear of the part.
                All efforts will be made to fulfil any order placed with Neemo Limited; however, we accept no responsibility or liability should we be unable to supply the goods ordered for any reason.
                www.neemo.co.nz is updated regularly but some parts may be sold before the listing can be removed from the website.
                Purchases are shipped at the customer’s risk, all orders are handled with the up-most care but we are not responsible for delays, loss or damage during transit.
                Payment
                Full payment should be made by the customer for any online order via credit card, or direct credit.
                All purchases/confirmed orders are deemed to be final.
                Freight Costs and Delivery Charges
                Goods will not be shipped to a customer until payment has been received in full. Confirmation times will vary depending on the method of payment used.   Neemo Limited may withhold delivery of all or any part of an order at their own discretion. Delivery times may vary depending on product ordered and delivery location but can be expected to be between 1 to 5 working days.
                Freight and packaging costs are non refundable, unless prior arrangements have been made between the customer and Neemo Limited.
                Variation/Cancellation of Order
                The customer may vary or cancel the order if the goods are deemed by us to be faulty or incorrectly supplied.
                Returns of Products/Refunds
                Customers have a right to return any goods which are faulty in nature. The following conditions apply to any return of goods:
                •         Where goods are being returned due to a fault, they must not be damaged any further.
                •         Proof of purchase must be provided for the any return of goods.
                •         Where a return is due to a fault, damage or shipping mistake, customers will have seven days from the date of receipt of goods to contact Neemo Limited and notify us of the fault.
                All purchases (excluding auctions and trade sales) are covered by the Consumer Guarantees Act 2003.
                Exchanges
                If the product is faulty or not suitable, you may exchange it for the same product or something more suitable providing:
                •         The goods exchanged are to the same value or more as the product that was originally purchased.
                •         The goods deemed unsuitable are in original condition and not opened or damaged in any way.
                Delivery Costs for Returns
                Any delivery costs to do with the exchange of goods are the customer’s responsibility, including return delivery to the customer. If a return is due to a shipping mistake, fault or product damage, then the costs will be incurred by Neemo Limited. Any costs paid by the customer in this case will be refunded upon receipt of a suitable invoice/receipt showing delivery costs. Any costs incurred by a customer and to be refunded by Neemo Limited must be reasonably defined as costs that would normally be expected to be paid to return goods using readily available postage cartage services.
                Privacy - Personal Information
                Through the conduct of its normal business, Neemo Limited may collect customer information including contact and delivery details, purchase history, and credit card details.
                This information will remain confidential and will be held securely, and will not be disclosed to any third party without written consent of the owner, except in cases where the information is necessary to carry out the transaction entered into by the customer.
                Customer Consent
                Customers who do not wish to have any personal information collected and used for any purpose other than that required to complete the transaction will need to express this in writing at the time of purchase.
                Access to Personal Information
                Personal information relating to the customer is available under the Privacy Act 1993, and the customer may request changes to the information held

            </div>
        </div>
    </div>
</div>