@model dynamic

@{
    ViewBag.Title = "Terms and Conditions";
    Layout = "~/Views/Shared/_Magento.cshtml";
}

<div class="ma-main-container col1-layout">
    <div class="main">
        <div class="col-main">
            <div class="page-title">
                <h2>Terms and Conditions</h2>
            </div>
                <p>The use of this website and these Terms and Conditions shall be governed by the laws of New Zealand. Unixmo Limited reserves the right to vary these Terms and Conditions at any time.</p>

                <h2>Pricing</h2>
                <p>Prices displayed for goods are valid only for purchases made through this site. Prices may differ to those at our physical location, but the price will remain as advertised for any item bought through the site. Special prices displayed are valid for the dates specified or while stocks last. All prices are displayed in New Zealand dollars and stock sold in New Zealand is inclusive of GST. Unixmo Limited reserves the right to alter prices at any time and for any reason. Any variation to an order (once accepted) will result in price adjusting to reflect the variation..</p>

                <h2>Product Range, Orders and Availability</h2>
                <p>Some parts, as stated, are second hand and\or used, they are priced accordingly to allow for the age and general wear of the part..
                All efforts will be made to fulfil any order placed with Unixmo Limited; however, we accept no responsibility or liability should we be unable to supply the goods ordered for any reason.
                www.Unixmo.co.nz is updated regularly but some parts may be sold before the listing can be removed from the website.
                Purchases are shipped at the customer’s risk, all orders are handled with the up-most care but we are not responsible for delays, loss or damage during transit..</p>

                <h2>Payment</h2>
                <p>Full payment should be made by the customer for any online order via credit card, or direct credit.
                All purchases/confirmed orders are deemed to be final.</p>
                
                <h2>Freight Costs and Delivery Charges</h2>
                <p>Goods will not be shipped to a customer until payment has been received in full. Confirmation times will vary depending on the method of payment used. .</p>                 <p>Unixmo Limited may withhold delivery of all or any part of an order at their own discretion. Delivery times may vary depending on product ordered and delivery location but can be expected to be between 1 to 5 working days.
                Freight and packaging costs are non refundable, unless prior arrangements have been made between the customer and Unixmo Limited..</p>

                <h2>Variation/Cancellation of Order</h2>
                <p>The customer may vary or cancel the order if the goods are deemed by us to be faulty or incorrectly supplied..</p>
            
        </div>
    </div>
</div>