<table class="table table-bordered">
    <thead>
        <tr class="inverted">
            <th rowspan="1" class="hidden-phone">&nbsp;</th>
            <th rowspan="1"><span class="nobr">Product Name</span></th>
            <th class="a-center" colspan="1"><span class="nobr">Unit Price</span></th>
            <th rowspan="1" class="a-center">Qty</th>
            <th class="a-center" colspan="1">Subtotal</th>
            <th rowspan="1" class="a-center">&nbsp;</th>
        </tr>
    </thead>
    <tfoot>
        <tr class="inverted">
            <td colspan="50">
                <div class="pull-right">
                    <a href="@Url.Home()" class="btn">Continue Shopping</a>
                    <button class="btn" data-bind="click: clearAllItems">Clear Shopping Cart</button>
                </div>
            </td>
        </tr>
    </tfoot>
    <tbody data-bind="foreach: items()">
        <tr>
            <td class="hidden-phone">
                <a data-bind="attr : { href: neemo.endpoints.product.get(Id())}" class="product-image">
                    <img data-bind="attr : { src: ImageUrl(), alt : Title }" width="75" height="75" class="thumbnail">
                </a>
            </td>
            <td>
                <h2 class="product-name">
                    <a data-bind="attr : { href: neemo.endpoints.product.get(Id())}, text: Title"></a>
                </h2>
            </td>
            <td class="a-right">
                <span class="cart-price">
                    <span class="price" data-bind="text: accounting.formatMoney(PriceWithoutTax())"></span>
                </span>
            </td>
            <td class="a-center">
                <input data-numbers-only size="4" title="Qty" class="input-text qty" maxlength="12" data-bind="value: Quantity">
            </td>
            <td class="a-right">
                <span class="cart-price">
                    <span class="price" data-bind="text: accounting.formatMoney(TotalWithoutTax())"></span>
                </span>
            </td>
            <td class="a-center last">
                <a data-bind="click: $parent.removeItem" title="Remove item"><i class="fa fa-trash fa-2x"></i></a>
            </td>
        </tr>

    </tbody>
</table>