
<div class="control-group">
    <label for="make">Make</label>
    <div class="controls">
        <select id="make" data-search-filter="make" class="control">
            <option value="">Any</option>
            <option value="mercedes">Mercedes</option>
        </select>
    </div> 
</div>