@model FindModelView

<div class="control-group">
    <label for="make">Make</label>
    <div class="controls">
        <select id="Make" class="control"
                data-search-filter="Make"
                data-select-filter="@Model.Make"
                data-url="@Url.Action("GetMakesOptions", "CarPart")"></select>
    </div>
</div>
