@model ForgotPasswordEmailView

@{
    Layout = "_EmailLayout.cshtml";
}

<p>
    A request has been sent to have your password reset at @Model.CompanyName. If this was not
    actioned by you, please <a href="@Url.ContactUs()">contact us</a> as soon as possible.
</p>

<p>
    To proceed, please click this <a href="@Model.VerificationLink">verification link to reset your password</a>.
</p>